body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    background-color: lightgray;
}

#questionType {
    display: none;
}

#paperAnswer {
    background-color: white;
    height: 50vh !important;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}

#paperQuestion {
    background-color: #d3d3d3;
    height: 30% !important;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}

#buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

.selectionItem button {
    margin: auto;
    border: none;
    background-color: blue;
    color: white;
    font-size: 1.8vw;
    font-weight: bold;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    padding: 20px;
}

.selectionItems {
    margin-top: 50px;
    display: inline-grid;
    text-align: center;
    margin: auto;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 40vh 40vh;
    grid-column-gap: 5vw;
    grid-row-gap: 10vh;
}

svg {
    height: 90%
}

.joint-paper-grid {
    height: 90%
}

.joint-paper-background {
    height: 90%
}